body{
    font-size: 16px;
    font-family: Segoe UI, Roboto;
    line-height: 1.5em;
}

body, ul, li, h1, h4{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

.wrapper {
    width: 80%;
    max-width: 1366px;
    margin: 0 auto;
}

section#likes, footer ul{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
/* HEADER */

header{
    background: url('img/bg-header.jpg') no-repeat;
    background-size: cover;
    min-height: 760px;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
}

header ul{
    flex: 0 1 200px;
}

h1.logo{
    width: 228px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 14px 17px;
    background: #efdc05;
    color: #e53a40;
}

ul#menu{
    display: flex;
    margin-top: 7px;
}

#menu li{
    flex: 0 1 calc(100%/5);
}

#menu a{
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 20px 10px;
}

#menu a:hover{
    border-bottom: 3px solid #fff;
    color: #30A9DE;
}

.active{
    color: #efdc05;
    border-bottom: 3px solid #30A9DE;
}

.desc{
    position: relative;
    right: 100px;
    top: 90px;
    width: 500px;
    float: right;
    color: #fff;
    font-size: 24px;
    line-height: 1.2em;
}

.desc h1{
    width: 300px;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 1em;
}

/* END OF HEADER */


/* LIKES */
#likes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

#likes > div{
    flex: 0 1 calc(100%/2);
    box-sizing: border-box;
}

#likes img{
    width: 100%;
    margin-bottom: -10px;
}

.text{
    padding: 20px 100px 0 50px;
    font-size: 22px;
    line-height: 1.4em;
}
/* END OF LIKES */


/* HYPE */
#hype{
    padding-top: 50px;
    margin-bottom: 60px;
}
#hype ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#hype li{
    flex: 0 1 350px;
    padding: 30px 10px 20px;
    box-sizing: border-box;    
    font-size: 17px;
}

#hype img{
    width: 100%;
}
/* END OF HYPE */


/* FAVORITE */
#favorite{
    background: url('img/bg-last-section.jpg') no-repeat;
    background-size: cover;
    min-height: 768px;
}

#favorite .desc{
    float: left;
    right: 0px;
    color: #000;
}

#favorite .desc h1{
    width: 400px;
}
/* END OF FAVORITE */

/* FOOTER */
footer{
    background-color: #1C2225;
    padding: 20px;
    color: #30A9DE;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer li:first-child{
    flex: 0 1 750px;
    padding-left: 30px;
}

footer li:last-child{
    flex: 0 1 250px;
    margin-top: 90px;
    text-align: center;
    padding-right: 10px;
}

footer h2{
    color: #efdc05;
}

footer h4{
    color: #e53a40;
    font-size: 13px;
}

footer span{
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
/* END OF FOOTER */


/* MEDIA QUERY */
@media screen and (max-width: 1145px){
    .text{
        font-size: 18px;
        line-height: 1.3em;
    }
}

@media screen and (max-width: 1090px){
    footer li:last-child{
        margin-top: 10px;
    }

    footer li:first-child{
        padding-right: 30px;
        text-align: justify;        
    }
}

@media screen and (max-width: 990px){
    .text h2{
        font-size: 22px;
    }
    .text{
        font-size: 16px;
        line-height: 1.2em;
        padding: 20px 50px 0 50px;
    }
}

@media screen and (max-width: 965px){
    header ul{
        margin: 0 auto;
    }

    ul#menu{
        margin-top: 30px;
    }
}

@media screen and (max-width: 814px){
    #likes > div{
        flex: 0 1 100%;
    }

    .text h2{
        font-size: 35px;
    }

    .text{
        max-width: 600px;
        padding: 20px 100px 0 50px;
        font-size: 22px;
        line-height: 1.4em;
    }

    .pict{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid #ddd;
    }

    #hype li{
        padding-bottom: 20px;
        padding-top: 60px;
        border-bottom: 1px solid #ddd;
    }

    .desc{
        right: 20px;
        width: 100%;
        float: none;
        font-size: 20px;
    }

    #hype li{
        border-bottom: 1px solid #ddd;
    }

}

@media screen and (max-width: 555px){
    .desc h1{
        font-size: 35px;
    }

    #menu a{
        padding: 0 5px 10px;
        font-size: 16px;
    }

    .desc{
        right: 0px;
    }

    .text h2{
        font-size: 25px;
    }

    .text{
        width: 100%;
        padding: 20px 30px 0 30px;
        font-size: 18px;
    }

    #favorite .desc h1{
        width: 100%;
    }
}

@media screen and (max-width: 375px){
    ul#menu{
        margin-left: -10px;
    }
}

@media screen and (max-width: 325px){
    #menu a{
        font-size: 14px;
    }
}